doctype html
html
   head
      title Hello Pug
   body
      p.greetings#people This Page is created using Sample Pug Templating!
      ul More URLs are here:
         li /login/PERSON_NAME/ID_6_DIGIT
         li /things/
         li /things/check
         li /things/confirm/ID_6_DIGIT
         li /fruit/FRUIT_NAME
