html
   head
      title Simple template
   body
    <!--check if length of name is more than one-->
      if(name && name.length > 1)
         h1 Hi, #{name}
      else
         h1 Faulty User, No name exist as #{name} and id: #{id}